body {
    background-color: rgb(235, 235, 235);
}
/* -------navbar--------------*/
.navbar-expand-lg {
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.1);
}

.navbar-light .navbar-toggler {
    color: none;
    border-color: transparent !important;
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    font-family: Poppins, sans-serif;
    font-weight: 700;
}

button:focus {
    outline: 1px dotted;
    outline: none;
}

.navbar-nav a {
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-collapse  {
    text-align: center;
}
/* ----navbar hover effect----------*/

.navbar-light .navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}

.navbar-light .navbar-nav .nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

/*-------section------------*/

#top-img {
    min-height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('https://images.pexels.com/photos/604898/pexels-photo-604898.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}
.top-container {
    padding-right: 0px;
    padding-left: 0px;
}

.text {
    font-weight: 600;
    font-size: larger;
    max-width: 900px;
    margin: 85px auto;
    padding-left: 10px;
    padding-right: 10px;
}

/*--------about--------*/
#about {
    margin-top: 8%;
    padding-bottom: 5%;
    max-width: 100%;
    background-color: #fff
}
.para {
    font-size: larger;
    margin: 40px 10% 40px 10%;
}

h2 {
    margin-left: 10%;
    margin-top: 15%;
    letter-spacing: 7px;
    text-transform: uppercase;
}

@media(max-width: 391px) {
    .navbar-light .navbar-toggler {
        margin: 0 auto;
        font-size: 17px;
    }
}